@{
    /**/
    ViewBag.Title = "Регистрация нового пользователя.";
}

<div class="page login-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
                <p>Регистрация нового пользователя.</p>
                <form id="register-form" method="post">
                    <div class="form-group">
                        <label for="username" class="label-custom">Email</label><br />
                        <input id="username" type="text" name="username" required="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="password" class="label-custom">Пароль</label><br />
                        <input id="password" type="password" name="password" required="" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="confirmPassword" class="label-custom">Повторите пароль</label><br />
                        <input id="confirmPassword" type="password" name="confirmPassword" required="" class="form-control">
                    </div>
                    <button id="register" class="primary-btn order-submit">Зарегистрироваться</button>
                    <!-- This should be submit button but I replaced it with <a> for demo purposes-->
                </form>
                <div class="row">
                    <span id="errMessage"></span>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">
        $(function () {
            //...........................
            var tokenKey = "tokenInfo";
            $('#register').click(function (e) {
                var initialInner = $("#register").html();
                $("#register").html("<img src='/Img/loader.gif' />");
                e.preventDefault();
                var registerData = {
                    Email: $('#username').val(),
                    Password: $('#password').val(),
                    ConfirmPassword: $('#confirmPassword').val()
                };

                $.ajax({
                    type: 'POST',
                    url: '/api/Account/Register',
                    data: registerData
                }).done(function (data) {
                    localStorage.setItem(tokenKey, data.access_token);
                    $("#register").html(initialInner);
                    location.replace("/Login");
                }).fail(function (data) {
                    if (data.responseJSON.Message !== "")
                        $("#errMessage").html(data.responseJSON.Message);
                    else
                        $("#errMessage").html(data.responseJSON.error_description);
                    $("#register").html(initialInner);
                });
            });
        });
    </script>
}