@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@{
    ViewBag.Title = "Корзина.";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <!-- Order Details -->
            <div class="col-md-12 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Ваш заказ</h3>
                </div>
                <div class="order-summary">
                    <div class="row">
                        <div class="col-sm-5"><strong>ТОВАР</strong></div>
                        <div class="col-sm-3"><strong>КОЛИЧЕСТВО</strong></div>
                        <div class="col-sm-2"><strong>ЦЕНА</strong></div>
                    </div>
                    <div class="order-products">
                        <div class="container-fluid" ng-repeat="item in card.items">
                            <div class='row mb-1'>
                                <div class='col-sm-5' ng-bind="item.Name"></div>
                                <div class='input-number col-sm-3'>
                                    <input type='number' ng-model="item.Count" min="1" max="10000" />
                                    <span class='qty-up' data-id='item.Id' ng-click="incCount(item)">+</span>
                                    <span class='qty-down' data-id='item.Id' ng-click="decCount(item)">-</span>
                                </div>
                                <div class='col-sm-2'>
                                    <span>{{item.Price | currency}}</span>
                                </div>
                                <div class='col-sm-2'><a href='' class='remove' ng-click="removeItem(item)">X</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="order-col">
                        <div><strong>ИТОГО</strong></div>
                        <div><strong class="order-total">{{totalSum() | currency}}</strong></div>
                    </div>
                </div>
                <h3 class="title">Доставка</h3>
                <div class="shiping-details">
                    <div class="input-radio">
                        <input type="radio" name="shiping" data-id="1" id="shiping-1" checked>
                        <label for="shiping-1">
                            <span></span>
                            Самовывоз
                        </label>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="shiping" data-id="2" id="shiping-2">
                        <label for="shiping-2">
                            <span></span>
                            Доставка
                        </label>
                        <div class="caption">
                            <p>
                                <div class="form-group">
                                    <label for="adress" class="label-custom">Введите адрес доставки:</label><br />
                                    <textarea id="adress" type="text" name="adress" class="form-control"></textarea>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                @if (!SignInManager.IsSignedIn(User))
                {
                    <p>Чтобы сделать заказ, <a href="/Account/Login">войдите в свой аккаунт</a>. Если у вас нет аккаунта, <a href="/Login/Registration">зарегистрируйтесь</a>.</p>
                }
                else
                {
                    <a href="" class="primary-btn order-submit" ng-click="sendOrder()">Заказать</a>
                }
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section scripts{
    <script>
    </script>
}