@{
    ViewBag.Title = "Корзина.";
}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container-fluid">
        <!-- row -->
        <div class="row">
            <!-- Order Details -->
            <div class="col-md-12 order-details">
                <div class="section-title text-center">
                    <h3 class="title">Ваш заказ</h3>
                </div>
                <div class="order-summary">
                    <div class="row">
                        <div class="col-sm-5"><strong>ТОВАР</strong></div>
                        <div class="col-sm-3"><strong>КОЛИЧЕСТВО</strong></div>
                        <div class="col-sm-2"><strong>ЦЕНА</strong></div>
                    </div>
                    <div class="order-products">
                        <div id="productsInCard" class="container-fluid">
                            <p>Список загружается <img src="~/Img/loader.gif" /></p>
                        </div>
                    </div>
                    <div class="order-col">
                        <div><strong>ИТОГО</strong></div>
                        <div><strong class="order-total"></strong></div>
                    </div>
                </div>
                <h3 class="title">Доставка</h3>
                <div class="shiping-details">
                    <div class="input-radio">
                        <input type="radio" name="shiping" data-id="1" id="shiping-1" checked>
                        <label for="shiping-1">
                            <span></span>
                            Самовывоз
                        </label>
                    </div>
                    <div class="input-radio">
                        <input type="radio" name="shiping" data-id="2" id="shiping-2">
                        <label for="shiping-2">
                            <span></span>
                            Доставка
                        </label>
                        <div class="caption">
                            <p>
                                <div class="form-group">
                                    <label for="adress" class="label-custom">Введите адрес доставки:</label><br />
                                    <textarea id="adress" type="text" name="adress" class="form-control"></textarea>
                                </div>
                            </p>
                        </div>
                    </div>
                </div>
                @if (!Request.IsAuthenticated)
                {
                    <p>Чтобы сделать заказ, <a href="/Login">войдите в свой аккаунт</a>. Если у вас нет аккаунта, <a href="/Login/Registration">зарегистрируйтесь</a>.</p>
                }
                else
                {
                    <a href="#" class="primary-btn order-submit">Заказать</a>
                }
            </div>
            <!-- /Order Details -->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section scripts{
    <script>
        $(document).ready(function () {
            var productArray = localStorage.getObject("shoping-card") === null ? new Array() : localStorage.getObject("shoping-card");
            LoadCardUI();

            function LoadCardUI() {
                var totalSum = 0;
                if (productArray.length > 0)
                    $("#productsInCard").html("");
                else
                    $("#productsInCard").html("В корзине нет товаров.");

                $.each(productArray, function () {
                    var prod = $(this)[0];
                    var it = GetItemBlock(prod);
                    $("#productsInCard").append(it);
                    totalSum += parseFloat(prod.Price.replace(",", ".")) * prod.Count;
                });
                totalSum = totalSum.toFixed(2);

                $(".remove").click(function (e) {
                    e.preventDefault();
                    SetDelete($(this).data("id"));
                    LoadCardUI();
                });

                $(".order-total").html(totalSum + "&nbsp;₽");
                InitaializeUpDown();
                InitaializeCountChangin();
            }

            function GetItemBlock(item) {
                return "<div class='row mb-1'><div class='col-sm-5'>" + item.Name + "</div><div class='input-number col-sm-3'><input id='count-" + item.Id + "' type='number' class='order-items' value='" + item.Count + "' /><span class='qty-up' data-id='" + item.Id + "'>+</span><span class='qty-down' data-id='" + item.Id + "'>-</span></div><div class='col-sm-2'><span id='sum-" + item.Id + "'>" + item.Price + "</span>&nbsp;₽</div><div class='col-sm-2'><a href='#' data-id='" + item.Id + "' class='remove'>X</a></div></div>";
            }

            function SetDelete(id) {
                var totalSum = 0;
                var oldArray = productArray;
                productArray = new Array();
                for (var idx = 0; idx < oldArray.length; idx++) {
                    var item = oldArray[idx];
                    if (item.Id !== id) {
                        productArray.push(item);
                        totalSum += item.Price * item.Count;
                    }
                }
                totalSum = totalSum.toFixed(2);

                $(".order-total").html(totalSum);
                localStorage.setObject("shoping-card", productArray);
                $("#shopingItemsCount").html(productArray.length);
            }

            function InitaializeCountChangin() {
                var up = $('.qty-up'),
                    down = $('.qty-down');

                down.on('click', function () {
                    var id = $(this).data("id");
                    UpdateShopingCard(id);
                });

                up.on('click', function () {
                    var id = $(this).data("id");
                    UpdateShopingCard(id);
                });
            }

            function UpdateShopingCard(id) {
                var value = parseInt($("#count-" + id).val());
                var totalSum = 0;
                for (var idx = 0; idx < productArray.length; idx++) {
                    var item = productArray[idx];
                    if (item.Id === id) {
                        item.Count = value;
                    }
                    totalSum += parseFloat(item.Price.replace(",", ".")) * item.Count;
                }
                totalSum = totalSum.toFixed(2);

                $(".order-total").html(totalSum + "&nbsp;₽");
                localStorage.setObject("shoping-card", productArray);
            }

            $(".order-submit").click(function (e) {
                e.preventDefault();
                var order = {
                    Items: productArray,
                    Adress: $("#adress").val()
                };
                var tokenKey = "tokenInfo";
                var initialInner = $(".order-submit").html();
                $(".order-submit").html("<img src='/Img/loader.gif' />");

                $.ajax({
                    async: true,
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/json;charset=utf-8",
                    cache: false,
                    url: '/api/Common/SendShopingCard',
                    data: JSON.stringify(order),
                    beforeSend: function (xhr) {
                        var token = localStorage.getItem(tokenKey);
                        xhr.setRequestHeader("Authorization", "Bearer " + token);
                    },
                    complete: function (data) {
                        if (data.statusText === "OK") {
                            $(".order-submit").html(initialInner);
                            productArray = new Array();
                            localStorage.setObject("shoping-card", productArray);
                            $(".order-summary").html("Заявка отправлена.");
                            $(".order-total").html("0");
                        }
                        else {
                            alert(data.responseText);
                        }
                    }
                });
            });
        });
    </script>
}